<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciamento de Tarefas</title>
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    <h1>Gerenciamento de Clientes</h1>
    <ul>
      <li><a href="/tarefas">Listar Clientes API json</a></li>
      <br />
      <li><a href="/listar-tarefa">Listar Clientes</a></li>
      <br />
      <li><a href="/tarefas/adicionar">Adicionar Clientes</a></li>
      <br />
      <li><a href="/tarefas/editar/id">Editar Clientes</a></li>
      <br />
      <li><a href="/tarefas/excluir/id">Excluir Clientes</a></li>
      <br />
    </ul>
  </body>
</html>
